streamlit==1.25.0
ultralytics==8.1.5
pillow==10.1.0
pandas==2.1.1
matplotlib==3.8.1
torch>=2.1.0
torchvision>=0.16.0
tqdm==4.66.1
openai==1.29.0         # For GPT / OpenAI API
python-dotenv==1.0.0   # To store API keys securely
